$backgroundLight: #eee !default;
$borderLight: #e8e8e8 !default;

$textColorBasic: #444 !default;
$textColorAccent: #000 !default;
$textColorMuted: #888 !default;

$textSizeBasic: 16px;
$textSizeDiminished: 14px;

$transitionDurationColor: 0.3s !default;

$contentPaddingX: 18px !default;
$contentPaddingY: 15px !default;

$containerMaxWidth: 1280px !default;
